.rounded-div {
    width: 300px;
    height: 200px;
    border: 3px solid #9e1b1b;
    border-radius: 10px;
    background-image: url('/src/assets/images/Bigscreen_Screenshot2.png');
    background-size: cover;
    background-position: center; 
  }